<div class="cell">
	{% comment %}
	<script>
		var str=new Array('<a class="business" href="http://blog.coding.net/" target="_blank"><img src="/business/codingnet-500x120-2014-7-30to2015-1-30-blog.jpg"/></a>','<a class="business" href="https://coding.net/u/desperatecat/p/recommended-projects/topic/4660" target="_blank"><img src="/business/codingnet-500x120-2014-7-30to2015-1-30-pj.jpg"/></a>');
		 var s;
		 s=str[parseInt(Math.random()*(str.length))];
		 document.write(s);
	</script>
	{% endcomment %}
	<a href="http://www.yougam.com/topic/50/" class="business">
		<img src="/business/buyyougam.png" alt="购买优姬社区系统!"></a>
</div>