{% extends "base.html" %}

{% block mainland %}
    <div id="main" class="container">
        <div class="row">
            <div id="content" class="col-md-8 col-md-offset-2">
                <div class="box">
                    <div class="cell first breadcrumb">
                        <a href="/"> <i class="ahead icon-home"></i>
                        </a> <i class="fa fa-caret-right"></i>
                        重置密码
                    </div>
                    <div class="cell last slim">
                        <div class="row">
                            <div class="col-md-6 auth-page">
                                <h3 class="title">
                                    <i class="icon icon-user"></i>
                                    重置密码
                                </h3>

                                <form method="POST" action="">
                                {% if data.fmail %}
                                    <p class="well">{{data.fmail}}</p>
                                {% endif %}
                                    <div class="form-group">
                                        <label class="control-label" for="LoginForm-Password">设置密码</label>

                                        <input id="LoginForm-Password" name="password" type="password" value="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="LoginForm-Password">确认密码</label>

                                        <input id="LoginForm-Password" name="repassword" type="password" value="" class="form-control">
                                    </div>

                                    <button type="submit" class="btn btn-s-md btn-dark btn-rounded">
                                        重置密码&nbsp;&nbsp;
                                        <i class="icon-chevron-sign-right"></i>
                                    </button>
                                </form>
                            </div>

                            <div class="col-md-6 auth-page">
                                <div class="auth-page">
                                    <h3 class="title">
                                        <i class="icon icon-question"></i>
                                        帮助
                                    </h3>
                                    {% include "msgerr.html" %}
                                    <p class="well">如果您突然想起了您的密码，请登录。</p>
                                    <p>
                                        <a href="/signin/" class="btn btn-s-md btn-default btn-rounded">
                                            现在登录&nbsp;&nbsp;
                                            <i class="icon-chevron-sign-right"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock mainland %}
