<div id="sidebar" class="col-md-3">
    <div class="box">
        <div class="cell first">发帖须知</div>
        <div class="cell last">
            <ul class="sidebar-list">
                <li>请选择与您帖子相关的节点</li>
                <li>发布的内容务必与节点一致</li>
            </ul>
        </div>
    </div>
    <div class="box">
        <div class="cell first">发布帮助</div>
        <div class="cell last">
            <h4>HTML代码说明</h4>
            <p><b>视频</b>或<b>音频</b>请使用以下标签：</p>
            <p><b>video,audio,object,embed</b> 等，</p>
            <p>禁用 <b>iframe,script</b> 标签。</p>
            <p style="border-bottom:dashed 1px gray;"></p>
            <h4>金币规则</h4>
            <p>发布新的 <b>主题</b> 将会获得 <b>1金币</b>，回复<b>别人</b> 的 <b>主题</b> 将赠予对方 <b>1金币</b>，即消耗自己 <b>1金币</b>。</p>
        </div>
    </div>
</div>