{% extends "../base.html" %}

{% block title %}
<title>{{userProfile.Username}} • 发布的回复 - {{SiteName}}</title>
{% endblock title %}

{% block mainland %}
<div id="main" class="container">
    <section class="hbox stretch" style="margin-bottom:1em;">
        {% include "./sidebar.html" %}
                <section class="bg-white">
                    <section class="vbox">
                        <header class="header bg-light lt">
                            <ul class="nav nav-tabs nav-white">
                                <li class="active">
                                    <a href="#activity" data-toggle="tab"> <i class="fa fa-caret-right"></i> 最近的回复</a>
                                </li>
                            </ul>
                        </header>
                        <section class="scrollable">
                            <div class="tab-content">
                                <div class="tab-pane active" id="activity">
                                    <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                                    {% if replys %}
                                        {% for reply in replys %}
                                        <li class="list-group-item">
                                            <a href="/user/{{reply.Reply.Author}}/" class="thumb-sm pull-left m-r-sm">
                                                <img src="{% if userProfile.AvatarMedium %}{{File(userProfile.AvatarMedium)}}{% else %}/identicon/{{userProfile.Username}}/48/default.png{% endif %}" class="img-circle"></a>
                                                <small class="pull-right">{{TimeSince(reply.Reply.Created)}}</small>
                                                <strong class="block">
                                                <a class="color-link" target="_blank" href="/topic/{{reply.Reply.Tid}}/">
                                                    {% with s=Htm2Str(reply.Topic.Title) %}
                                                      {%if not s %}
                                                        {{ reply.Reply.Author }} {{TimeSince(reply.Reply.Created)}} 回应了话题#{{reply.Reply.Tid}}
                                                      {%else%}
                                                        {{Cropword(s,0,48,"...")}}
                                                      {%endif%}
                                                    {% endwith %}
                                                </a>
                                                </strong>
                                                <h4>
                                                <a href="/topic/{{reply.Reply.Tid}}/#reply{{reply.Reply.Id}}" rel="floor-link">#{{reply.Reply.Id}}
                                                    {% with s=Htm2Str(reply.Reply.Content) %}
                                                      {%if not s %}
                                                        {{ reply.Reply.Author }} {{TimeSince(reply.Reply.Created)}} 回应了话题#{{reply.Reply.Tid}}
                                                      {%else%}
                                                        {{Cropword(s,0,48,"...")}}
                                                      {%endif%}
                                                    {% endwith %}
                                                </a>
                                                </h4>
                                        </li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="list-group-item">
                                            这是一个懒惰的家伙...
                                        </li>
                                    {% endif %}
                                    </ul>
                                </div>
                                {% if pagesbar %}
                                <div class="clear">
                                    {{pagesbar|safe}}
                                </div>
                                {% endif %}
                            </div>
                        </section>
                    </section>
                </section>
    </section>
</div>
{% endblock mainland %}
