<div class="quick-actions_homepage">
    <ul class="quick-actions">
        <li class="bg_lb">
            <a href="/root/dashboard/"> <i class="icon-dashboard"></i>
                管理面板
            </a>
        </li>
        <li class="bg_lg span3">
            <a href="/root/read/administrator/"> <i class="icon-signal"></i>
                管理员列表
            </a>
        </li>
        <li class="bg_ly">
            <a href="/root/theme/">
                <i class="icon-inbox"></i>
                {#<span class="label label-success">101</span>#}
                主题模板
            </a>
        </li>
        <li class="bg_lo">
            <a href="/root/read/topic/">
                <i class="icon-th"></i>
                浏览话题
            </a>
        </li>
        <li class="bg_ls">
            <a href="/root/read/user/">
                <i class="icon-user"></i>
                浏览用户
            </a>
        </li>
        <li class="bg_lo span3">
            <a href="/root/read/node/">
                <i class="icon-th-list"></i>
                浏览节点
            </a>
        </li>
        <li class="bg_ls">
            <a href="/root/read/category/">
                <i class="icon-tint"></i>
                浏览分类
            </a>
        </li>
        <li class="bg_lb">
            <a href="/root/create/topic/">
                <i class="icon-pencil"></i>
                撰写话题
            </a>
        </li>
        <li class="bg_lg">
            <a href="/root/read/reply/">
                <i class="icon-calendar"></i>
                用户评论
            </a>
        </li>
        <li class="bg_lr">
            <a href="/root/read/report/">
                <i class="icon-info-sign"></i>
                用户举报
            </a>
        </li>

    </ul>
</div>