<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>{{SiteName}}管理系统</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/root/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/root/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/root/css/uniform.css" />
  <link rel="stylesheet" href="/root/css/select2.css" />
  <link rel="stylesheet" href="/root/css/matrix-style.css" />
  <link rel="stylesheet" href="/root/css/matrix-media.css" />
  <link href="/root/font-awesome/css/font-awesome.css" rel="stylesheet"/>
  <link href='/root/css/opensans.css' rel='stylesheet' type='text/css'></head>
<body>
{%include "header.html" %}
{%include "sidebar.html" %}
  <div id="content">
    <div id="content-header">
      <div id="breadcrumb">
        <a href="#" title="控制面板" class="tip-bottom">
          <i class="icon-home"></i>
          控制面板
        </a>
        <a href="#" class="current">管理员列表</a>
      </div>
      <h1>管理员列表</h1>
    </div>
    <div class="container-fluid">
      <hr>
      <div class="row-fluid">
        <div class="span12">
          <div class="widget-box">
            <div class="widget-title">
              <span class="icon">
                <i class="icon-th"></i>
              </span>
              <h5>数据表格</h5>
            </div>
            <div class="widget-content nopadding">
              <table class="table table-bordered data-table">
                <thead>
                  <tr>
                    <th>管理员</th>
                    <th>个人签名</th>
                    <th>真实姓名</th>
                    <th>加入日期</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
          {% if administrators %}
              {% for adm in administrators %}
                  <tr class="gradeX">
                    <td><a href="/root/read/administrator/{{adm.Id}}/">{{adm.Username }}</a></td>
                    <td><a href="/root/read/administrator/{{adm.Id}}/">
                        {% if adm.Content %}
                            {{ adm.Content|truncatechars:30|safe}}
                        {% endif %}
                        </a></td>
                    <td>{%if adm.Realname==""%}尚未设置{%else%}{{adm.Realname}}{%endif%}</td>
                    <td class="center">{%if adm.Created%}{{Unix2Time(adm.Created,"2006.01.02 15:04")}}{%endif%}</td>
                    <td><a href="/root/delete/administrator/{{adm.Id}}/">删除</a> | <a href="/root/update/administrator/{{adm.Id}}/">更新</a></td>
                  </tr>
              {% endfor %}
          {% else %}
                  <tr class="gradeX">
                    <td>尚无名称</td>
                    <td>                      尚无签名                    </td>
                    <td>尚无实名</td>
                    <td class="center">尚无日期</td>
                    <td>操作</td>
                  </tr>
          {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%include "footer.html"%}
  <script src="/root/js/jquery.min.js"></script>
  <script src="/root/js/jquery.ui.custom.js"></script>
  <script src="/root/js/bootstrap.min.js"></script>
  <script src="/root/js/jquery.uniform.js"></script>
  <script src="/root/js/select2.min.js"></script>
  <script src="/root/js/jquery.dataTables.min.js"></script>
  <script src="/root/js/matrix.js"></script>
  <script src="/root/js/matrix.tables.js"></script>
</body>
</html>