<!--Header-part-->
<div id="header">
  <h1><a href="/root/dashboard/">{{SiteName}}管理</a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">欢迎 {%if username%}{{username}}{% endif %}</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
      {% comment %}
        <li><a href="#"><i class="icon-user"></i> 个人资料</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> 我的任务</a></li>
        <li class="divider"></li>
      {% endcomment %}
        <li><a href="/root/signout/"><i class="icon-key"></i> 退出</a></li>
      </ul>
    </li>
    {% comment %}
    <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">消息</span> <span class="label label-important">5</span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> 新消息</a></li>
        <li class="divider"></li>
        <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> 收件箱</a></li>
        <li class="divider"></li>
        <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> 发件箱</a></li>
        <li class="divider"></li>
        <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> 垃圾箱</a></li>
      </ul>
    </li>
    {% endcomment %}
    <li><a title="" href="/root/setting/password/"><i class="icon icon-cog"></i> <span class="text">设置密码</span></a></li>
    <li class=""><a title="" href="/root/signout/"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->

<!--start-top-serch-->
<div id="search">
  <form action="/root/search/user/" method="get">
  <input type="text" placeholder="搜索用户..." name="keyword"/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
  </form>
</div>
<!--close-top-serch-->
