<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{SiteName}}管理系统</title>
	<link rel="stylesheet" href="/root/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/root/css/bootstrap-responsive.min.css" />

	<link rel="shortcut icon" href="/libs/flat-ui/img/favicon.ico">

	<link rel="stylesheet" href="/root/css/matrix-style.css" />
	<link rel="stylesheet" href="/root/css/matrix-media.css" />
	<link rel="stylesheet" href="/root/css/fullcalendar.css" />
	<link href="/root/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="/root/css/jquery.gritter.css" rel="stylesheet" />
	<link href='/root/css/opensans.css' rel='stylesheet' type='text/css'>
</head>
