<script src="/root/js/excanvas.min.js"></script> 
<script src="/root/js/jquery.min.js"></script> 
<script src="/root/js/jquery.ui.custom.js"></script> 
<script src="/root/js/bootstrap.min.js"></script> 
<script src="/root/js/jquery.flot.min.js"></script> 
<script src="/root/js/jquery.flot.resize.min.js"></script> 
<script src="/root/js/jquery.peity.min.js"></script> 
<script src="/root/js/fullcalendar.min.js"></script> 
<script src="/root/js/matrix.js"></script> 
<script src="/root/js/matrix.dashboard.js"></script> 
<script src="/root/js/jquery.gritter.min.js"></script> 
<script src="/root/js/matrix.interface.js"></script> 
<script src="/root/js/matrix.chat.js"></script> 
<script src="/root/js/jquery.validate.js"></script> 
<script src="/root/js/matrix.form_validation.js"></script> 
<script src="/root/js/jquery.wizard.js"></script> 
<script src="/root/js/jquery.uniform.js"></script> 
<script src="/root/js/select2.min.js"></script> 
<script src="/root/js/matrix.popover.js"></script> 
<script src="/root/js/jquery.dataTables.min.js"></script> 
<script src="/root/js/matrix.tables.js"></script> 